:root {
    --grey: #F5F4FA;
    --black: #2F303A;
    --text-grey: #757575;
    --text-black: #212121;
    --blue: #2196F3;
}

.header {
    background-color: #FFF;
}

.header a:hover {
    color: var(--blue);
}

.header li>a {
    color: var(--grey);
}

.logo-blue {
    color: var(--blue);
}

.logo-black {
    color: var(--text-black);
}

.main-page-top {
    background-color: var(--black);
    color: #FFF;
}

.main-page-top button {
    background-color: var(--blue);
    color: #FFF;
    border-radius: 4px;
}